@model IEnumerable<Transactions>
@{
    ViewData["Title"] = "History";
}

<div class="d-flex justify-content-around">
    <h1 class="display-4">Transaction History</h1>
</div>
<br />
<br />


<div class="table-responsive" style="height: 25vw; overflow-y: auto;">
<table class="table table-bordered table-striped table-sm" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Card Number</th>
            <th>Transaction ID</th>
            <th>Merchant ID</th>
            <th>Batch No.</th>
            <th>Invoice No.</th>
            <th>Amount</th>
            <th>Date and Time (UTC)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                
                <td>@obj.ID</td>
                <td>@obj.CardNumber</td>
                <td>@obj.TID</td>
                <td>@obj.MID</td>
                <td>@obj.Batch</td>
                <td>@obj.Invoice</td>
                <td>@obj.Amount</td>
                <td>@obj.TransactionDateTime</td>
                    <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@obj.ID"/>
                <td><button class="btn btn-danger" type="submit">Delete</button></td>
                    </form>
            </tr>
        }
    </tbody>
</table>
</div>

